<div class="container mt-4" style="max-width: 800px">
  <div class="card">
    <div class="card-header">
      Résultat de ta tentative
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @answer %></h5>
    </div>
  </div>
</div>
